* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sail';
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Yantramanav', sans-serif;
}

header {
  background-color: #1B1D1E;
  height: 89px;
  width: 100%;
}
header h1{
  text-align: center;
  padding-top: 28px;
  padding-right: 10px;
  padding-bottom: 32px;
  font-family: 'sail';
  color: #E6CD62
}

/*nav bar*/
ul {
  background-color: #631025;
  height: 45px;
  width: 100%;
  list-style-type: none;
  overflow: hidden;

}
li {
  float: left;
}
.active{
  background-color: #4A0A1A;
}
a {
  text-decoration: none;
  color: #E6CD62;
  text-align: center;
  display: block;
  padding: 16px;
  font-size: 11px;


}

 .logo {
   float: left;
   padding-top: 0;
   height: 89px;
   width: auto;
}
img {
 max-width: 100%;
 height: auto;
 padding-top: 10%;
}

h2 {
  padding: 0 0 0 10%;
}
.priser h2, p{
 font: 'Libre Franklin';
 padding-right: 10%;
 padding-left: 10%;
}

h1{
 color: #e6cd62;
}
.priser h3 {
  font-size: 30px;
  padding: 2%;
  margin-left: 10%;
  width: 25%;
  background-color: #737373;
}

/* media query for breakpoint ved 768px:,
husk at sætte det der skal ændres ind før slut }*/
@media screen and (min-width: 768px) {
  header{
    height: 217px;
    width: 100%;
  }
  .logo{
    height: 217px;
    width: auto;
  }
  header h1{
    padding-top: 65px;
    padding-bottom: 65px;
    font-size: 70px;
  }
  .priser h2, p {
    font: 'Libre Franklin';
    padding-right: 10%;


  }
  .overskrift p{
    float: left;
  }
  .overskrift h2{
    padding-left: 10%;
  }
  article {
    width: 50%;
    float: left;
  }
  .clear{
    clear: both;
  }
 }
 /* media query slut */

footer {
  background-color: #1B1D1E;
  height: 70px;;
  width: 100%;
  text-align: right;
  bottom: 0;
  position: relative;
  clear:both;
}
footer p{
  color: #e6cd62;
}
footer img{
  float: left;
  padding-top: 0;
}
